@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{padding:0; margin:0;}

body{
	font:15px 'Gothic A1', sans-serif;
	color:#222;
}

a{
	text-decoration:none;
	color:#222;
}

ul{list-style:none;}

/*레이아웃 스타일*/
section{
	width:100%;
	position:absolute;
	top:90px;
}

/*topBtn style*/
#topBtn{
	width:50px;
	height:50px;
	position:fixed;
	bottom:10px;
	right:10px;
}

section .contentWrap{
	width:100%;
	height:180px;
	margin-bottom:70px;
	background:#f3f9fe;	
}
/*레이아웃 스타일 끝*/

/*section top 상세스타일*/
section .top{
	position:relative;
	width:1050px;
	height:200px;
	margin:0 auto;
}

.top .content{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	margin:0 auto;
}

.top .content p{
	font-size:2.4em;
	letter-spacing:2px;
	font-weight:500;
}

.top .content strong{font-weight:800;}

.top .content span{
	display:block;
	font-size:1.4em;
	font-weight:700;
	text-align:center;
	color:#de6969;
	padding:15px 0;
}

.top .img{
	position:absolute;
	right:0;
}
/*section top 상세스타일 끝*/

/*section form 상세스타일*/
section .main{
	width:1050px;
	margin:0 auto;
}

section .main strong{
	display:block;
	font-size:2em;
	font-weight:700;
	letter-spacing:2px;
	margin-bottom:15px;
}

section .main strong img{
	vertical-align:middle;
	margin-right:10px;
}

table{
	border-top:3.2px solid #c7c7c7;
	width:100%;
	font-size:1.65em;
	font-weight:500;
	
}

table tr td{
	border-bottom:1px solid #ddd;
	border-collapse:collapse;
	height:55px;
	font-weight:700;
	padding:15px;
}

table tr td:first-child{
	width:260px;
	letter-spacing:2px;
	padding:15px 25px 15px 30px;
	background:#f1f1f1;
	box-sizing:border-box;
}

table tr th{
	background:white;
	border:none;
	padding:15px 25px;
}

input[type="radio"]{margin:0 5px 0 10px;}
input[type="radio"]:last-child{margin-left:25px;}

input[type="text"],
input[type="password"],
input[type="hidden"],
form select{
	border:2px solid #aaa;
	border-radius:5px;
	padding:10px;
	width:430px;
	box-sizing:border-box;
	outline:none;
	font-size:20px;
	font-weight:500;
	letter-spacing:2.5px;
}

input[name="year"],
input[name="month"],
input[name="day"],
input[name="rsy"],
select[name="rsm"],
input[name="rsd"]{width:200px;}

select[name="rsh"],
select[name="rsmin"]{width:230px;}

form select[name="email2"]{
	width:230px;
	text-align:center;
}

textarea{
	width:720px;
	border:2px solid #aaa;
	border-radius:5px;
	padding:10px;
	box-sizing:border-box;
	outline:none;
	font-size:22px;
	font-weight:600;
	letter-spacing:1.5px;
	line-height:1.5;
}

input[type="submit"]{
	width:200px;
	color:white;
	background:#294483;
	font-weight:600;
	border:1px solid #294483;
	font-size:1.05em;
	padding:20px 30px;
	letter-spacing:1px;
	margin:30px 0;
	box-sizing:border-box;
}

input[type="reset"]{
	width:200px;
	color:#294483;
	background:white;
	font-weight:600;
	border:1px solid #294483;
	font-size:1.05em;
	padding:20px 30px;
	letter-spacing:1px;
	box-sizing:border-box;
}
/*section form 상세스타일 끝*/


























